<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>appIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>appIcon0</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
	</array>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>deee042bcc537662459bd0e35a24355a</string>
	</dict>
</dict>
</plist>
